* {
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	text-align: center;
	margin-bottom: 30px;
}

::selection {
	background-color: #999999;
}

h1 {
	text-align: center;
	font-weight: 800;
	font-size: 64px;
}

hr {
	display: inline-block;
	width: 160px;
	margin: 80px 0;
	border: 1px solid black;
}

.top-nav-bar {
	display: flex;
	width: 80%;
	max-width: 1000px;
	margin: 40px auto;
	justify-content: space-between;
	align-items: center;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */  
}

.menu-icon {
	position: relative;
	background: url(menu.svg) center center no-repeat;
	background-size: contain;
	background-origin: content-box;
	width: 40px;
	height: 40px;
	padding: 10px;
	cursor: pointer;
}

.nav-list {
	list-style: none;
	/*display: none;*/
	visibility: hidden;
	position: absolute;
	top: 50px;
	transition-delay: 0.5s; /* Delay on hover off */
}
.menu-icon:hover .nav-list {
	/*display: block;*/
	visibility: visible;
	transition-delay: 0s; /* React immediately on hover on */
}

.nav-list li {
	width: 80px;
	padding: 10px;
	background-color: #EEEEEE;
	cursor: pointer;
}
	.nav-list li:hover {
		background-color: #DDDDDD;
	}
	.nav-list li:active {
		background-color: #CCCCCC;
	}

.button {
	border: 1px solid black;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	padding: 10px 20px;
	cursor: pointer;
}
	.button:hover {
		background-color: #EEEEEE;
	}
	.button:active {
		background-color: #CCCCCC;
	}

.body {
	width: 80%;
	max-width: 1000px;
	display: inline-block;
}

.intro-block {
	display: inline-block;
	text-align: justify;
	font-style: italic;
	padding: 0 20%;
	margin: 20px 0;
	font-weight: 300;
	line-height: 1.5;

}

.post-container {
	display: inline-block;
	text-align: justify;
	padding: 25px;
	margin: 20px 0;
	cursor: pointer;
	line-height: 1.5;
}
	.post-container:hover {
		background-color: #EEEEEE;
	}
	.post-container:active {
		background-color: #DDDDDD;
	}

	.post-container .post-title {
		font-size: 32px;
		font-weight: 600;
	}

	.post-container .post-author {
		font-weight: 300;
		font-style: italic;
		margin-bottom: 5px;
	}

.post-page-title {
	font-weight: 600;
	font-size: 64px;
}

.post-page-author {
	font-weight: 300;
	font-size: 24px;
	font-style: italic;
}

.post-content p {
	margin-bottom: 50px;
	text-align: justify;
	line-height: 1.75;
}

.blockquote {
	margin-bottom: 50px;
	text-align: center;
	padding: 20px 10%;
	font-size: 36px;
	font-weight: 300;
	font-style: italic;
}


/* Utility */
.disable-selection {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */  
}


/* Media Queries */
@media (max-width: 640px) {
	.body {
		width: 95%;
	}
	.intro-block {
		padding: 0 10px;
	}
	.post-container {
		padding: 25px 10px;
	}
	.post-content {
		padding: 0 10px;
	}

	.post-page-title {
		font-size: 54px;
	}

	.top-nav-bar {
		width: 95%;
	}
	.flex-right {
		display: none;
	}
}
