<div class="intro-block">
  Student of web development, amatuer coffee aficionado, longboarder, and hopeless film addict. Raised in Kenya. Schooled in Texas and South Korea. Budding full-stack developer currently seeking opportunities to exercise talent in web development studio.
</div>

<div id="_posts-section"><!-- Template Container --></div>

<script>
  insertHeader('TECHSTER');

  ajaxInsertTemplate('_posts-section', 'post_previews', '/blog/api/posts');
</script>
