<!-- NAVIGATION HEADER -->
<div class="top-nav-bar">

  <div class="nav-left">
    <a href="/blog/">
      <div class="menu-icon">
      </div>
    </a>
  </div>

  <div class="nav-center">
    <h1>{{title}}</h1>
  </div>

  <div class="nav-right">
    <a href="intro-to-me">
      <div class="button">
        ABOUT
      </div>
    </a>
  </div>
</div>

<h1 class="small-vp-title">{{title}}</h1>
